<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="DefaultSuite" verbose="2">
    <test name="forTest1">
        <classes>
            <class name="testHandling.test1"/>
            <class name="testHandling.test2"/>
        </classes>
    </test>

    <test name="forTest2">
        <classes>
            <class name="testHandling.test2"/>
            <class name="testHandling.test1"/>
        </classes>
    </test>

</suite>